@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&family=Poppins:wght@300;400;500;600;700;800;900&display=swap');
@tailwind base;

/* Firefox */
* {
    scrollbar-width: thin;
    scrollbar-color: #D5D5D5 #D5D5D5;
  }
  
  /* Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    width: 5px;
  }
  
  *::-webkit-scrollbar-track {
    background: #F2F2F2;
    /* border-radius: 5px; */
  }
  
  *::-webkit-scrollbar-thumb {
    background-color: #D5D5D5;
    /* border-radius: 14px; */
    /* border: 3px solid #D5D5D5; */
  }
@tailwind components;
@tailwind utilities;

